html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}nav{display:block}a{background-color:transparent}a:active,a:hover{outline:0}b,strong{font-weight:bold}img{border:0}input{color:inherit;font:inherit;margin:0}input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}table{border-collapse:collapse;border-spacing:0}td{padding: 2px;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{height:100%}body{margin:0;min-height:100%;background-color:#fff;font-family:Arial,sans-serif;font-size:14px;line-height:20px;color:#333}img{max-width:100%;vertical-align:middle;display:inline-block}.w-clearfix:before,.w-clearfix:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-clearfix:after{clear:both}.w-button{display:inline-block;padding:9px 15px;background-color:#3898EC;color:white;border: 3;line-height:inherit;text-decoration:none;cursor:pointer;border-radius:0;}input.w-button{-webkit-appearance: none !important;}h2,h3{font-weight:bold;margin-bottom:10px}h2{font-size:32px;line-height:36px;margin-top:20px}h3{font-size:24px;line-height:30px;margin-top:20px}p{margin-top:0;margin-right: 9px;margin-bottom:10px;}blockquote{margin:0 0 10px 0;padding:10px 20px;border-left:5px solid #E2E2E2;font-size:18px;line-height:22px}ol{margin-top:0;margin-bottom:10px;padding-left:40px}.w-embed:before,.w-embed:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-embed:after{clear:both}.w-form{margin:0 0 15px}.w-form-done{display:none;padding:20px;text-align:center;background-color:#dddddd}.w-form-fail{display:none;margin-top:10px;padding:10px;background-color:#ffdede}label{display:block;margin-bottom:5px;font-weight:bold}.w-input{display:block;width:100%;height:38px;padding:8px 12px;margin-bottom:10px;font-size:14px;line-height:1.42857143;color:#333333;vertical-align:middle;background-color:#ffffff;border:1px solid #cccccc}.w-input:-moz-placeholder{color:#999}.w-input::-moz-placeholder{color:#999;opacity:1}.w-input:-ms-input-placeholder{color:#999}.w-input::-webkit-input-placeholder{color:#999}.w-input:focus{border-color:#3898EC;outline:0}.w-container{margin-left:auto;margin-right:auto;max-width:940px}.w-container:before,.w-container:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-container:after{clear:both}.w-row:before,.w-row:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-row:after{clear:both}.w-col{position:relative;float:left;width:100%;min-height:1px;padding-left:10px;padding-right:10px}.w-col-2{width:16.66666667%}.w-col-5{width: 63.666667%;}.w-col-7{width:58.33333333%}@media screen and (max-width:991px){.w-container{max-width:728px}}@media screen and (max-width:767px){.w-row{margin-left:0;margin-right:0}.w-col{width:100%;left:auto;right:auto}}@media screen and (max-width:479px){.w-container{max-width:none}.w-col{width:100%}}.w-nav{position:relative;background:#dddddd;z-index:1000}.w-nav:before,.w-nav:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-nav:after{clear:both}.w-nav-link{position:relative;display:inline-block;vertical-align:top;text-decoration:none;color:#222222;padding:20px;text-align:left;margin-left:auto;margin-right:auto}.w-nav-menu{position:relative;float:right}.w-nav-button{position:relative;float:right;padding:18px;font-size:24px;display:none;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.w-nav-button:focus{outline:0}@media screen and (max-width:991px){.w-nav[data-collapse="medium"] .w-nav-menu{display:none}.w-nav[data-collapse="medium"] .w-nav-button{display:block}}

.text-block {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

.list {
  padding: 10px 10px 10px 50px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.31);
  box-shadow: 1px 1px 8px 0 #000;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 19px;
}

.text-field-2 {
  width: 50%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #b3cbff;
  border-radius: 20px;
}

.columns {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 5px;
}

.columns._1234 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none #000;
}

.text-block-5 {
  margin-left: 15px;
  font-size: 20px;
  text-align: left;
}

.text-block-5._1234 {
  margin-top: 15px;
  margin-left: 0px;
  border-top: 1px none #000;
  text-align: center;
}

.text-block-6 {
  margin-right: 15px;
  font-size: 20px;
  text-align: right;
  text-decoration: line-through;
}

.text-block-6._1 {
  margin-top: 15px;
  margin-right: 0px;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.text-block-7 {
  margin-bottom: 10px;
  font-size: 19px;
  text-transform: capitalize;
}

.paragraph {
  position: relative;
  display: inline;
  overflow: visible;
  font-size: 18px;
}

.div-block-2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.36);
  box-shadow: 1px 1px 8px 0 #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.div-block-3 {
  width: 90%;
  height: 60px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-radius: 20px;
  background-color: #000;
}

._1 {
  color: #91f76c;
  font-size: 35px;
  text-decoration: none;
  text-shadow: 3px 3px 4px #000;
}

.form-block {
  margin-top: 24px;
  border: 1px none #000;
  border-radius: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.paragraph-2 {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 21px;
  line-height: 25px;
}

.navbar-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 70px;
  margin: 10px auto 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #709be9;
}

.nav-menu-2 {
  margin-right: auto;
  margin-left: auto;
  float: left;
  font-size: 15px;
  text-align: left;
}

.nav-link-4 {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.bold-text-3 {
  color: red;
  font-size: 35px;
  text-decoration: line-through;
  text-shadow: 3px 3px 4px #000;
}

.text-span-6 {
  text-decoration: none;
}

.bold-text-5 {
  display: inline;
  border: 1px none #000;
  border-radius: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 37px;
  font-weight: 800;
}

.heading-3 {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  float: none;
}

.bold-text-7 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  display: block;
  width: 90%;
  margin: 38px auto -35px;
  padding: 10px;
  border: 3px none #709be9;
  border-radius: 20px;
  color: #fff;
  font-size: 37px;
  text-align: left;
}

.image-7 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.body {
  display: block;
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
}

.image-9 {
  width: 50px;
  margin-top: 25px;
  margin-right: 10px;
  float: left;
  clear: none;
}

.image-10 {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.div-block-11 {
  margin-top: 24px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #b3cbff;
  box-shadow: 1px 1px 8px 0 #000;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.heading-5 {
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #709be9;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  text-align: center;
}

.paragraph-7 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 25px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 17px;
  font-weight: 700;
}

.image-14 {
  display: block;
  width: 69%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.bold-text-9 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.bold-text-10 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.bold-text-11 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.bold-text-12 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.field-label-5 {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #fff;
  font-size: 18px;
}

.form-2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
  text-align: center;
}

.image-16 {
  width: 80%;
  margin-top: 0px;
}

.submit-button-2 {
  display: block;
  width: 50%;
  margin: 20px auto;
  border: 1px;
  border-color: #709be9;
  padding: 20px 0px;
  transition: 5s;
  border-radius: 22px;
  background-color: #709be9;
  font-size: 22px;
  line-height: 22px;
}

._1-2 {
  color: #3bdf00;
  font-size: 35px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}

.image-19 {
  width: 80px;
  margin-right: 20px;
  padding-right: 0px;
  float: left;
  clear: none;
}

.italic-text-2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.html-embed {
  border-radius: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.list-item-2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.list-item-3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.list-item-4 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.list-item-5 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.block-quote-2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: none;
  margin: 15px auto 0px;
  padding: 10px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
  color: #000;
  text-align: left;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-14 {
  width: 90%;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-15 {
  margin-top: 23px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.div-block-16 {
  margin-top: 33px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.div-block-17 {
  margin-top: 24px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.div-block-19 {
  margin-top: 24px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.div-block-20 {
  margin-top: 24px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.div-block-21 {
  margin-top: 24px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.div-block-23 {
  margin-top: 24px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px 0 #000;
}

.italic-text-3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 45px;
}

.italic-text-4 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 45px;
}

.italic-text-5 {
  font-size: 45px;
}

.italic-text-6 {
  font-size: 45px;
}

@media screen and (max-width: 991px) {
  .text-block {
    display: block;
    width: 100%;
  }
  .columns-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .columns._1234 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-16 {
    width: 30%;
  }
  .columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
.div-block-14 {
    width: 90%;
    margin-top: -35px;
    margin-right: auto;
    margin-left: auto;
}}
@media screen and (max-width: 479px) {
  .text-field-2 {
    width: 90%;
  }
  .columns._1234 {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-2 {
    width: 100%;
  }
  .bold-text-5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
  }
  .heading-3 {
    padding-left: 0px;
  }
  .heading-4 {
    width: 100%;
    margin-top: -1px;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    direction: ltr;
    font-size: 40px;
    text-transform: none;
    white-space: break-spaces;
  }
  .image-9 {
    position: static;
    overflow: visible;
  }
  .image-10 {
    width: 100%;
  }
  .image-14 {
    width: 100%;
  }
  .form-2 {
    width: 95%;
    padding-top: 10px;
  }
  .image-16 {
    margin-top: 25px;
  }
  .submit-button-2 {
    width: 90%;
  }
  .image-19 {
    width: 60px;
  }
  .block-quote-2 {
    width: 100%;
  }
  .columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-24 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.c1 span {
margin-left: 3px;}

.pluso span{float:none;}
.pluso-010010101001-01 a:active{ opacity:.6; }
.pluso-010010101001-01 .pluso-wrap a{display:inline-block;vertical-align:inherit;margin:5px 0 0 5px;padding:0;width:40px;height:40px;background:url() 0 0 transparent no-repeat;}
.pluso-wrap{margin:0px !important;}
.pluso-010010101001-01 .pluso-wrap{position:relative;z-index:1;display:inline-block;padding:0 5px 5px 0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:transparent;text-align:left;font-size:0;line-height:0;*display:inline;*zoom:1;}
.pluso-010010101001-01 a.pluso-more{width:40px;height:40px;background:url() 0 -60px no-repeat!important;position:relative;}
.pluso-010010101001-01 a.pluso-more{margin-right:-22px;*left:5px;}
.pluso-010010101001-01 .pluso-counter b{position:relative;padding:8px 12px;-webkit-border-radius: 22px;-moz-border-radius: 22px;border-radius: 122px;background:#eaeaeb;box-shadow:0 0 3px rgba(0,0,0,.3);color:#707070;white-space:nowrap;font:16px/40px Tahoma, Geneva, sans-serif!important;}
.pluso-010010101001-01 .pluso-counter{position:relative;padding-right:28px;}
.pluso-010010101001-01 .pluso-counter b{top:-14px;left:28px;}
.pluso-010010101001-01 .pluso-counter b:after{position: absolute;top: 13px;left: -8px;z-index: 0;display: block;width: 0;border-width: 5px 9px 5px 0;border-style: solid;border-color: transparent #eaeaeb;content: '';}
.pluso-010010101001-01 .pluso-wrap a{background-image: url(../img/01.png);}.pluso-010010101001-01 .pluso-wrap a.pluso-google{ background-position: -252px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-facebook{ background-position: -0px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-twitter{ background-position: -42px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-email{ background-position: -924px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-pinterest{ background-position: -210px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-linkedin{ background-position: -1512px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-googlebookmark{ background-position: -1260px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-print{ background-position: -966px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-digg{ background-position: -630px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-vkontakte{ background-position: -168px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-odnoklassniki{ background-position: -126px 0}
.pluso-010010101001-01 .pluso-wrap a.pluso-google{ background-position: -252px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-facebook{ background-position: -0px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-twitter{ background-position: -42px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-email{ background-position: -924px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-pinterest{ background-position: -210px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-linkedin{ background-position: -1512px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-googlebookmark{ background-position: -1260px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-print{ background-position: -966px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-digg{ background-position: -630px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-vkontakte{ background-position: -168px 0}.pluso-010010101001-01 .pluso-wrap a.pluso-odnoklassniki{ background-position: -126px 0}